{% extends 'e_waste_app/static/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4 text-center">Hello {{ user }}</h1>

    <!-- General Dashboard -->
    <div class="mb-5">
        <h2 class="mb-4 text-center">General Dashboard</h2>
        <div class="row mb-4">
            <div class="col-lg-6 mb-4">

                <div class="card border-primary shadow-sm">
                    <div class="card-header bg-primary text-white d-flex align-items-center">
                        <i class="fas fa-users fa-2x mr-3"></i>
                        <h5 class="card-title mb-0">Total Users Registered This Week</h5>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="display-4 font-weight-bold">{{ total_users_this_week }}</h2>
                        <p class="text-muted">New users registered this week</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">

                <div class="card border-warning shadow-sm">
                    <div class="card-header bg-warning text-dark d-flex align-items-center">
                        <i class="fas fa-calendar-times fa-2x mr-3"></i>
                        <h5 class="card-title mb-0">Total Ads Expired</h5>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="display-4 font-weight-bold">{{ total_ads_expired }}</h2>
                        <p class="text-muted">Expired ads</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-4">
            <div class="col-12">
                <div class="card border-success shadow-sm">
                    <div class="card-header bg-success text-white">
                        <h5 class="card-title mb-0">Total Ads by Category</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for category in total_ads_by_category %}
                                <div class="col-md-4 mb-3">
                                    <div class="card border-light shadow-sm">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">{{ category.category }}</h4>
                                            <h2 class="display-4 font-weight-bold">{{ category.total }}</h2>
                                            <p class="text-muted">Total ads in this category</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Personal Dashboard -->
    <div>
        <h2 class="mb-4 text-center">Personal Dashboard</h2>
        <div class="row mb-4">
            <div class="col-lg-6 mb-4">
                <!-- Average Visit Duration Today -->
                <div class="card border-info shadow-sm">
                    <div class="card-header bg-info text-white d-flex align-items-center">
                        <i class="fas fa-clock fa-2x mr-3"></i>
                        <h5 class="card-title mb-0">Average Visit Duration Today</h5>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="display-4 font-weight-bold">{{ average_visit_duration_today }} mins</h2>
                        <p class="text-muted">Average time spent on the site today</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <!-- Number of Actions Taken Today -->
                <div class="card border-secondary shadow-sm">
                    <div class="card-header bg-secondary text-white d-flex align-items-center">
                        <i class="fas fa-tachometer-alt fa-2x mr-3"></i>
                        <h5 class="card-title mb-0">Number of Actions Taken Today</h5>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="display-4 font-weight-bold">{{ number_of_actions_today }}</h2>
                        <p class="text-muted">Actions performed today</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6 mb-4">
                <!-- Number of Visits -->
                <div class="card border-primary shadow-sm">
                    <div class="card-header bg-primary text-white d-flex align-items-center">
                        <i class="fas fa-traffic-light fa-2x mr-3"></i>
                        <h5 class="card-title mb-0">Number of Visits Today</h5>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="display-4 font-weight-bold">{{ number_of_visits_today }}</h2>
                        <p class="text-muted">Total visits to the site today</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <!-- Recently Posted Requests -->
                <div class="card border-dark shadow-sm">
                    <div class="card-header bg-dark text-white d-flex align-items-center">
                        <i class="fas fa-list-ul fa-2x mr-3"></i>
                        <h5 class="card-title mb-0">Recently Posted Requests</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for request in recently_posted_requests %}
                                <li class="list-group-item">{{ request }}</li>
                            {% empty %}
                                <li class="list-group-item">No requests posted recently.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6 mb-4">
                <!-- Last Login Time -->
                <div class="card border-info shadow-sm">
                    <div class="card-header bg-info text-white d-flex align-items-center">
                        <i class="fas fa-sign-in-alt fa-2x mr-3"></i>
                        <h5 class="card-title mb-0">Last Login Time</h5>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="display-4 font-weight-bold">{{ last_login_time }}</h2>
                        <p class="text-muted">When you last logged in</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
