{% extends 'e_waste_app/static/base.html' %}
{% block content %}
<div class=" container mt-4">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert-danger">
                    <p style="color: red">{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <h2>Reset Password</h2>
    <form method='POST' action="{% url 'e_waste_app:password_reset_confirm' uidb64=uid token=token %}">
        {% csrf_token %}
        {% if context.error_message %}
             <p>{{ context.error_message }}</p>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
    </form>
</div>
{% endblock %}