{% extends 'e_waste_app/static/base.html' %}
{% load crispy_forms_filters %}
{% block title %}Register - E-Waste Recycling Network{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Register</h2>
    {% if messages %}
        {% for message in messages %}
        <div class="alert-danger">
              <p style="color: red">{{ message }}</p>
        </div>
       {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name"></label>
            {{ form.username|as_crispy_field }}
        </div>
        <div class="form-group">
            <label for="id_email"></label>
            {{ form.email|as_crispy_field }}
        </div>
        <div class="form-group">
            <label for="id_password"></label>
            {{ form.password|as_crispy_field }}
        </div>
        <div class="form-group">
            <label for="id_confirm_password"></label>
            {{ form.confirm_password|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}