{% extends "e_waste_app/static/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Search Recycling Requests{% endblock %}

{% block content %}

    <div class="container">
    <h2 class="text-center my-4">Search Recycling Requests</h2>
    <form method="get">
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <h3>Results</h3>
  <ul>
    {% for request in results %}
      <li>{{ request.item_type }} - {{ request.description }} - {{ request.contact_city }}</li>
    {% empty %}
      <li>No results found.</li>
    {% endfor %}
  </ul>
    </div>

{% endblock %}